name: EXIM
channels:
  - pytorch
  - anaconda
  - conda-forge
  - defaults
dependencies:
  - imageio=2.8.0
  - numpy=1.18.1
  - matplotlib=3.2.1
  - python=3.10
  - torch==1.11.0
  - torchvision=0.5.0
  - trimesh=3.6.10
  - cython=0.29.15
  - tensorboard=1.15.0
  - pyyaml=5.3.1
  - tqdm=4.43.0
  - pandas=1.0.3
  - transformers==4.29.0.dev0
  - matplotlib
  - git+https://github.com/fbcotter/pytorch_wavelets
